\.idea/
.idea/
__pycache__/
*.png
transactions.csv
./data/
*.py[cod]
*.so
*.egg
*.egg-info
dist
build
*.ZE
checkpoint
*.meta
*.bin
*.pt
*.pk
*.index
*.ckpt.data*
*.tsv
*.pbtxt
*.csv
*temp*
*.h5
*.txt
*.rar
model\.h5
deep_learning/model.h5
*.model
.ipynb_checkpoints/
*.npz
*.data
*.dat
*.png
one_time_use/.ipynb_checkpoints/*
train_dict
*.npy
*.pkl
feature_vectors/
prediction/
*.dirlock
*.tmp
basic_model/classifiers/catboost_info/
*.hdf5
*.zip
*.7z
logs/
*.wav
dask-worker-space/
feature_definition*
test_name_list
stage2_dataset
*.ipynb
features/
*.vec
*.ini
*.ddm
moviedata/
src/server
*.dialogues
*.ftz
*.gz
*.ckpt.*
*.bin
*.json
temp.py